<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h3>{{authService.currentUserValue?.username}}</h3>
<!--      <h4>{{authService.currentUserValue?.firstName}} {{authService.currentUserValue?.lastName}}</h4>-->
    </div>
    <img src="https://wallpapercave.com/wp/wp8493226.jpg" alt="tamir">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/chat">Chat</a>

  <div *ngIf="userLoggedIn!=null && userLoggedIn!.role=='Admin'">
  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  </div>

</mat-nav-list>


