<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Israel Hotels</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li *ngIf="userLoggedIn!=null && userLoggedIn!.role=='Admin'" [routerLink]="['/admin']" >
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>        
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="userLoggedIn==null" mat-menu-item [routerLink]="['/login']"  [queryParams]="{ returnUrl: currentRoute }" routerLinkActive="active">
              <mat-icon>login</mat-icon>
              Login
            </button>
            <button mat-menu-item *ngIf="userLoggedIn!=null" (click)="authService.logout()">
              <mat-icon>exit_to_app</mat-icon>
              Sign Out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
