<!--<mat-spinner *ngIf="isLoading" class="custom-spinner"></mat-spinner>-->
<!--<mat-card>-->
<!--<div class="form-group">-->
<!--  <mat-form-field class="example-full-width" >-->
<!--&lt;!&ndash;    <mat-label>Favorite food</mat-label>&ndash;&gt;-->
<!--    <input  type="text" matNativeControl class="form-control" placeholder="Search By Content" [(ngModel)]="searchTermByContent"/>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field class="example-full-width" >-->
<!--    &lt;!&ndash;    <mat-label>Favorite food</mat-label>&ndash;&gt;-->
<!--    <input type="text" class="form-control" matNativeControl placeholder="Search By Title" [(ngModel)]="searchTermByTitle"/>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field class="example-full-width" >-->
<!--    &lt;!&ndash;    <mat-label>Favorite food</mat-label>&ndash;&gt;-->
<!--    <input  type="text" matNativeControl class="form-control" placeholder="Search By Estimated Time" [(ngModel)]="searchTermByEstimatedTime"/>-->
<!--  </mat-form-field>-->

<!--</div>-->
<!--<button class="filter_button" mat-raised-button  *ngIf="searchTermByimage" (click)="searchTermByimage = !searchTermByimage">Includes picture only</button>-->
<!--<button class="filter_button" mat-raised-button *ngIf="!searchTermByimage" (click)="searchTermByimage = !searchTermByimage">Show all</button>-->

<!--&lt;!&ndash; <button class="filter_button" mat-raised-button  *ngIf="searchTermByimage">Includes picture only</button>-->
<!--<button class="filter_button" mat-raised-button *ngIf="!searchTermByimage">Show all</button> &ndash;&gt;-->
<!--  </mat-card>-->
<!--<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">-->
<!--  <mat-expansion-panel *ngFor="let post of posts.slice().reverse() ">-->
<!--    <mat-expansion-panel-header>-->
<!--      <strong id=post_title>{{ post.title }}</strong>-->
<!--    </mat-expansion-panel-header>-->
<!--    <mat-panel-description style="font-weight: bold">-->
<!--      Posted By: {{ post.userName }}, On: {{ post.postDate }}-->
<!--      <br>-->
<!--      <br>-->
<!--      Estimated time:{{post.estimatedTime}} minutes-->
<!--      <br>-->
<!--    </mat-panel-description>-->
<!--    <p class=post_content>{{ post.content }}</p>-->

<!--    <div class="post-image" *ngIf="post.imagePath!=null">-->
<!--      <img [src]="post.imagePath" [alt]="post.title">-->
<!--    </div>-->
<!--    <mat-action-row>-->
<!--      <button class="nav-link" mat-button [routerLink]="['comments/list/', post.id]">Post Comments</button>-->
<!--      &lt;!&ndash; <a mat-button [routerLink]="['comments/list/', post.id]">Post comments</a> &ndash;&gt;-->

<!--      <div *ngIf="userIsAuth">-->
<!--        <button class="nav-link" mat-button [routerLink]="['comments/create/', post.id]">COMMENT</button>-->
<!--        &lt;!&ndash; <a mat-button [routerLink]="['comments/create/', post.id]">COMMENT</a> &ndash;&gt;-->

<!--        <a *ngIf="userId == post.creator">-->
<!--          <button class="nav-link" mat-button [routerLink]="['/edit', post.id]">EDIT</button>-->
<!--          &lt;!&ndash; <a mat-button [routerLink]="['/edit', post.id]">EDIT</a> &ndash;&gt;-->

<!--          <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>-->
<!--        </a>-->

<!--      </div>-->
<!--    </mat-action-row>-->
<!--  </mat-expansion-panel>-->
<!--</mat-accordion>-->
<!--<mat-paginator [length]="totoalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"-->
<!--               (page)="onChangePage($event)" *ngIf="posts.length > 0"></mat-paginator>-->
<!--<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>-->

<!--<p class="form-control">Current post create: {{curentCreateTimes}} &nbsp;&nbsp; ● &nbsp;&nbsp;  Current post delete: {{currentDeleteTimes}}</p>-->

<!--&lt;!&ndash; <a class="form-control" *ngIf="curentCreateTimes>0 && currentDeleteTimes>0"> &nbsp;&nbsp;Created versus deleted:&nbsp;{{(curentCreateTimes/currentDeleteTimes)*100}}% </a> &ndash;&gt;-->

<!--&lt;!&ndash; denis &ndash;&gt;-->
